<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Users/felipemoraes/Dropbox/grad/7ºPeriodo/Sistemas de Recomendação/pa3/tp3"/>
</launchConfiguration>
